@{
    ViewData["Title"] = "Home Page";
}

<div>
    @Html.ActionLink("ScheduleIdentificationGroup", "Index", "ScheduleidentificationGroups")<br />
    @Html.ActionLink("AllInfoPvPlantV", "Index", "AllInfoPvPlantVs")<br />
    @Html.ActionLink("AllInfoWindParkV", "Index", "AllInfoWindParkVs")<br />
</div>